<ion-header>
  <ion-navbar>
    <ion-title>Поръчки към обекта</ion-title>
    <ion-buttons end>
                <button ion-button icon-only  (click)="logout()">Изход
                   <ion-icon name="exit"></ion-icon>
                </button>
            </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-grid>
        <ion-row  *ngFor="let order of openOrders" class="{{orderRowColor(order)}}">
          <ion-col col-8>
            <p>
              Поръчка #{{order.id}} - {{order.itemDescription}}
            </p>
            <p>
              <button ion-button (click)="presentOrderModal(order)">Поръчка</button>
            </p>
          </ion-col >
          <ion-col >
              <div *ngIf="order.status != 'AWAITING_CONFIRMATION'">
                <p >{{order.timeleft}}</p>
              </div>
          </ion-col>
          <ion-col >
  
              <div *ngIf="order.status == 'AWAITING_CONFIRMATION'">
                <button ion-button (click)="presentConfirmPrompt(order)">Потвърди</button>
              </div>
              <div *ngIf="order.status != 'AWAITING_CONFIRMATION'">
                <button ion-button (click)="presentEnterPinPrompt(order)">Предай</button>
              </div>
        </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
