<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let order of openOrders" >
      {{order.itemDescription}}
      <div class="item-note" item-end>
        <div *ngIf="order.status == 'AWAITING_CONFIRMATION'">
          <button ion-item (click)="confirm(order)">Confirm</button>
        </div>
        <div *ngIf="order.status != 'AWAITING_CONFIRMATION'">
          {{order.status}}
        </div>
      </div>
    </button>
  </ion-list>

  <button ion-item (click)="logout()">
    Logout
  </button>
</ion-content>
